<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text"></h5>
        <p class="grey-text text-lighten-4">Skill Mentor Academy is a pioneer in education and career transformation, specializing in today’s most in-demand skills. The leading source for training, staffing, and career transitions, we foster a flourishing community of professionals pursuing careers they love.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Company</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Locations</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Blog</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Careers</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">FAQ</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Press</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2016 Skill Mentor Academy. All rights reserved
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>